.venv/
__pycache__/
*.pyc
db.sqlite3
.env
.vscode/
.pytest_cache

*.md
.kilo 
.aider*
.opencode
.blackbox
.qodo


*.jpg
*.docx
*.pdf
*.xlsx
*.png

/media/*.jpg
/media/*.png
/media/*.jpeg
/media/*.gif
/media/*.docx
/media/*.pdf
/media/*.xlsx
/md
/resourcefromJas
templates/Old
templates\website\Treasurer\legacy_do_not_touch
.txt
