Django>=5.1,<6.0
channels>=4.0,<5.0
daphne>=4.0,<5.0
twisted[http2,tls]
pymysql>=1.1,<2.0
psycopg2>=2.9,<3.0
redis>=4.0,<5.0
pyjwt>=2.0,<3.0
djangorestframework>=3.0,<4.0
django-filter>=2.0,<3.0
django-cors-headers>=3.0,<4.0
gunicorn>=20.0,<21.0
psutil>=5.0,<6.0
pytest>=6.0,<7.0
pytest-django>=4.0,<5.0
pywebpush>=2.0,<3.0
python-dotenv>=1.0,<2.0
openpyxl>=3.1,<4.0
apscheduler>=3.10,<4.0
django-browser-reload>=1.0,<2.0
watchfiles>=0.21,<1.0
